
<div id="wrapper">
  <h2 class="todo-title">Todo List</h2>
  <div class="todo-item-container">
    <div class="todo-item" *ngFor="let todo of todoList; let i = index">
      <h3 class="todo-name">{{todo}}</h3>
      <button class="delete-todo delete-button" (click)="deleteTodoItem(todo)">Delete todo item</button>
    </div>
  </div>
  <div class="add-todo-block">
    <div class="add-todo-input-block">
      <label>Add new todo item : </label>
      <input class="new-todo-name" type="text" [(ngModel)]="newTodo" />
    </div>
    <div class="new-todo-error-block">
      <p class="new-todo-error" *ngIf="error">Invalid input</p>
    </div>
    <button class="add-todo" (click)="addTodo()">Add todo</button>
  </div>
</div>
<router-outlet></router-outlet>